.contacts{
    position: relative;
    padding-top: 200px;
    padding-bottom: 55px;
    background-image: url(./../../img/MaskExp.svg);
    background-size: cover;
    color: #fff;

    &::before{
        position: absolute;
        bottom: 0;
        left: 50%;
        content: "";
        display: block;
        width: 743px;
        height: 372px;
        background-image: url(./../../img/OvalExp.svg);
        background-size: initial;
    }
    &::after{
        position: absolute;
        bottom: -1px;
        left: 50%;
        content: "";
        display: block;
        width: 469px;
        height: 532px;
        margin-left: 79px;
        background-image: url(./../../img/ContactUs.png);
        background-size: initial;    
    }
}
.contact__info{
    max-width: 360px;
}
.contact__title{
    margin-bottom: 15px;

}
.contact__text{
    margin-bottom: 30px;
    max-width: 342px;
}